@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
<div class="row"> 
    <h1> @ViewBag.Name.Type </h1>
    <h1> @ViewBag.Name.Label </h1>
    <h1> @ViewBag.Name.Option[0] </h1>
    <h1> @ViewBag.Name.Option[1] </h1>
</div>    
</p>


